@import url("../forum.css");

.topic-header {
  margin-bottom: 3em;
  line-height: 1.5em;
}

.replies {
  padding: 6em 0;
}

.replies-header {
  margin-bottom: 3em;
}

.reply {
  border-top: 1px solid #ddd;
  margin-top: 3em;
  padding-top: 3em;
}
.reply-header {
  margin-bottom: 1.5em;
}